[zalo-cá-nhân]-bắn-tin-nhắn-test-.json
{
  "createdAt": "2025-11-07T01:33:38.346Z",
  "updatedAt": "2025-11-13T10:03:04.000Z",
  "id": "Q6dg7SL1B9oZ9Itk",
  "name": "[ZALO CÁ NHÂN] Bắn tin nhắn test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-social-zalo.zaloUserLogin",
      "typeVersion": 3,
      "position": [
        -416,
        -208
      ],
      "id": "2b0f7c27-f0e3-49ab-8322-46fa6829922d",
      "name": "Zalo Login Via QR Code",
      "credentials": {
        "n8nApi": {
          "id": "30tjNLmMIWJCCXUX",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zalo-user",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -208
      ],
      "id": "6f5d584f-7374-40c2-b326-5257a8c059a9",
      "name": "Webhook",
      "webhookId": "d199eff9-b445-44fc-a73f-e4c20b01d0da"
    },
    {
      "parameters": {
        "resource": "get",
        "operation": "findUser",
        "phoneNumber": "=0916510566"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -16,
        -208
      ],
      "id": "799fb4c5-9c56-406b-b60a-29da97876189",
      "name": "Tìm người dùng theo số điện thoại",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "={{ $json.response.uid }}",
        "message": "={{ $('Webhook').item.json.body['Họ_tên_lái_xe'] }} -  {{ $('Webhook').item.json.body['Số tài'] }}\n--------------------------\nĐÃ ĐĂNG KÝ HỢP ĐỒNG THÀNH CÔNG\n- ID: {{ $('Webhook').item.json.body.ID }}\nℹ️ Thông tin: {{ $('Webhook').item.json.body['Chiều_đi'] }} | {{ $('Webhook').item.json.body['Số_km_quy_định'] }}km| {{ $('Webhook').item.json.body['Số_tiền_hợp_đồng'].toLocaleString('vi-VN') }}đ |  {{ $('Webhook').item.json.body['Số_giờ_chờ_quy_định'] }} giờ chờ\n🕐 Thời gian bắt đầu: {{ $('Webhook').item.json.body['thời_gian_đi'] }}\n📍 Địa điểm: {{ $('Webhook').item.json.body['Điểm_đi'] }} 🔁 {{ $('Webhook').item.json.body['Điểm_đến'] }}\n📑 Loại hợp đồng: {{ $('Webhook').item.json.body['Loại hợp đồng'] }}\n---------\nHãy nhắn \"ok\" nếu nhận được tin nhắn tự động"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        208,
        -208
      ],
      "id": "a60a9a93-748f-4057-909c-cd9054835bc7",
      "name": "Gửi tin nhắn",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zalo-user-bien-ban",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        192
      ],
      "id": "aa239767-8422-41a9-9ced-e0d1f58b905a",
      "name": "Webhook1",
      "webhookId": "d199eff9-b445-44fc-a73f-e4c20b01d0da"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5fca233-e87f-4a71-90a0-99675b28215b",
              "leftValue": "={{ $json.body.Uid_Zalo_User }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        192
      ],
      "id": "86495e5a-af6e-43dd-be61-d74b98624f74",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "get",
        "operation": "findUser",
        "phoneNumber": "={{ $('Webhook1').item.json.body['Số_điện_thoại_lái_xe'] }}"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -16,
        224
      ],
      "id": "4d3cbf1e-fa73-4dc9-aee3-9f07122864f9",
      "name": "Tìm người dùng theo số điện thoại1",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "content": "Gửi tin nhắn vi phạm cho Tài xế",
        "height": 560,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        32
      ],
      "typeVersion": 1,
      "id": "7fef6157-b0e8-443f-b2df-6110cbf86978",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zalo-user-qlpt",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        672,
        208
      ],
      "id": "57deb773-637b-4d26-a449-3331843151f5",
      "name": "Webhook2",
      "webhookId": "d199eff9-b445-44fc-a73f-e4c20b01d0da"
    },
    {
      "parameters": {
        "threadId": "=6570572738127149955",
        "message": "=⤴️ 𝐓𝐇Ô𝐍𝐆 𝐓𝐈𝐍 𝐓À𝐈 𝐗Ế 𝐋Ê𝐍 𝐂𝐀 𝐆𝐈Ữ𝐀 𝐆𝐈Ờ ⤴️\n\n- H̲ọ̲ ̲t̲ê̲n̲:  {{ $json.body['Họ tên'] }}\n- BKS: {{ $json.body['Biển kiểm soát'] }}\n- L̲o̲ạ̲i̲ ̲h̲ì̲n̲h̲: {{ $json.body['Loại hình'] }} - {{ $json.body['Hình thức'] }}\n- T̲h̲ờ̲i̲ ̲g̲i̲a̲n̲ ̲l̲ê̲n̲ ̲c̲a̲: {{ $json.body['Thời gian lên ca'] }}\n- G̲h̲i̲ ̲c̲h̲ú̲: {{ $json.body['Ghi chú'] }}\n(Đây là tin nhắn tự động)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1216,
        32
      ],
      "id": "f934c414-3834-4f5d-a5f9-68472ad04307",
      "name": "Gửi tin nhắn4",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "content": "Gửi tin nhắn lên cá #5h App QLPPT",
        "height": 656,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        0
      ],
      "typeVersion": 1,
      "id": "01e5cd8e-7661-40c5-8c39-ac7879bdafe7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://adminphuquoc2.dieuhanhtaxi.vn/account/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "adminrachgia"
            },
            {
              "name": "password",
              "value": "NamThang@@04"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -208
      ],
      "id": "ab2c65f4-c456-4190-b364-9f547bdc6785",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://adminphuquoc2.dieuhanhtaxi.vn/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        -208
      ],
      "id": "a1eeca2f-f6ff-4e22-9ecc-57edbd2869e5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body['Họ tên'] }}",
                    "rightValue": "RG",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4292a200-4cc3-4dd2-b82c-18e08c17d30e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rạch Giá"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6ba9e95e-779a-471a-a3ab-2e220ad49f5e",
                    "leftValue": "={{ $json.body['Họ tên'] }}",
                    "rightValue": "CM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cà Mau"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f6f672b-13da-4286-bec2-19fd1edc783b",
                    "leftValue": "={{ $json.body['Họ tên'] }}",
                    "rightValue": "AG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "An Giang"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7bb3a7f4-7c6a-442e-99e7-fe49f84cfa1c",
                    "leftValue": "={{ $json.body['Họ tên'] }}",
                    "rightValue": "BL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bạc Liêu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d897559-0818-4d78-a3fb-d69e5ccdaa1c",
                    "leftValue": "={{ $json.body['Họ tên'] }}",
                    "rightValue": "ST",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sóc Trăng"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81d2350a-7919-40b7-b093-13e58be86915",
                    "leftValue": "={{ $json.body['Họ tên'] }}",
                    "rightValue": "HG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hậu Giang"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96358af3-d43c-43e2-a403-182b6e144804",
                    "leftValue": "={{ $json.body['Họ tên'] }}",
                    "rightValue": "Cần Thơ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cần Thơ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        864,
        112
      ],
      "id": "118a1a34-07a6-4a2a-b457-b8cb5dec96b1",
      "name": "Switch"
    },
    {
      "parameters": {
        "threadId": "=8397655013303857446",
        "message": "=⤴️ 𝐓𝐇Ô𝐍𝐆 𝐓𝐈𝐍 𝐓À𝐈 𝐗Ế 𝐋Ê𝐍 𝐂𝐀 𝐆𝐈Ữ𝐀 𝐆𝐈Ờ ⤴️\n\n- H̲ọ̲ ̲t̲ê̲n̲:  {{ $json.body['Họ tên'] }}\n- BKS: {{ $json.body['Biển kiểm soát'] }}\n- L̲o̲ạ̲i̲ ̲h̲ì̲n̲h̲: {{ $json.body['Loại hình'] }} - {{ $json.body['Hình thức'] }}\n- T̲h̲ờ̲i̲ ̲g̲i̲a̲n̲ ̲l̲ê̲n̲ ̲c̲a̲: {{ $json.body['Thời gian lên ca'] }}\n- G̲h̲i̲ ̲c̲h̲ú̲: {{ $json.body['Ghi chú'] }}\n(Đây là tin nhắn tự động)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1216,
        224
      ],
      "id": "1249439b-abb0-4b94-82cd-dcc2df2ffc01",
      "name": "Gửi tin nhắn6",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "=4891969062223966031",
        "message": "=⤴️ 𝐓𝐇Ô𝐍𝐆 𝐓𝐈𝐍 𝐓À𝐈 𝐗Ế 𝐋Ê𝐍 𝐂𝐀 𝐆𝐈Ữ𝐀 𝐆𝐈Ờ ⤴️\n\n- H̲ọ̲ ̲t̲ê̲n̲:  {{ $json.body['Họ tên'] }}\n- BKS: {{ $json.body['Biển kiểm soát'] }}\n- L̲o̲ạ̲i̲ ̲h̲ì̲n̲h̲: {{ $json.body['Loại hình'] }} - {{ $json.body['Hình thức'] }}\n- T̲h̲ờ̲i̲ ̲g̲i̲a̲n̲ ̲l̲ê̲n̲ ̲c̲a̲: {{ $json.body['Thời gian lên ca'] }}\n- G̲h̲i̲ ̲c̲h̲ú̲: {{ $json.body['Ghi chú'] }}\n(Đây là tin nhắn tự động)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1216,
        320
      ],
      "id": "0130f345-49f4-4a84-b789-82ee1055e2bf",
      "name": "Gửi tin nhắn7",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "=8984752782100529948",
        "message": "=⤴️ 𝐓𝐇Ô𝐍𝐆 𝐓𝐈𝐍 𝐓À𝐈 𝐗Ế 𝐋Ê𝐍 𝐂𝐀 𝐆𝐈Ữ𝐀 𝐆𝐈Ờ ⤴️\n\n- H̲ọ̲ ̲t̲ê̲n̲:  {{ $json.body['Họ tên'] }}\n- BKS: {{ $json.body['Biển kiểm soát'] }}\n- L̲o̲ạ̲i̲ ̲h̲ì̲n̲h̲: {{ $json.body['Loại hình'] }} - {{ $json.body['Hình thức'] }}\n- T̲h̲ờ̲i̲ ̲g̲i̲a̲n̲ ̲l̲ê̲n̲ ̲c̲a̲: {{ $json.body['Thời gian lên ca'] }}\n- G̲h̲i̲ ̲c̲h̲ú̲: {{ $json.body['Ghi chú'] }}\n(Đây là tin nhắn tự động)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1216,
        416
      ],
      "id": "7c0b7e42-a9f8-4fe7-b4f6-efbc9ce2dd48",
      "name": "Gửi tin nhắn8",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "=1424032541887569775",
        "message": "=⤴️ 𝐓𝐇Ô𝐍𝐆 𝐓𝐈𝐍 𝐓À𝐈 𝐗Ế 𝐋Ê𝐍 𝐂𝐀 𝐆𝐈Ữ𝐀 𝐆𝐈Ờ ⤴️\n\n- H̲ọ̲ ̲t̲ê̲n̲:  {{ $json.body['Họ tên'] }}\n- BKS: {{ $json.body['Biển kiểm soát'] }}\n- L̲o̲ạ̲i̲ ̲h̲ì̲n̲h̲: {{ $json.body['Loại hình'] }} - {{ $json.body['Hình thức'] }}\n- T̲h̲ờ̲i̲ ̲g̲i̲a̲n̲ ̲l̲ê̲n̲ ̲c̲a̲: {{ $json.body['Thời gian lên ca'] }}\n- G̲h̲i̲ ̲c̲h̲ú̲: {{ $json.body['Ghi chú'] }}\n(Đây là tin nhắn tự động)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1216,
        512
      ],
      "id": "1cc0bc21-6639-485f-8acb-df41a4912cd9",
      "name": "Gửi tin nhắn9",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "=1429354811666139770",
        "message": "=⤴️ 𝐓𝐇Ô𝐍𝐆 𝐓𝐈𝐍 𝐓À𝐈 𝐗Ế 𝐋Ê𝐍 𝐂𝐀 𝐆𝐈Ữ𝐀 𝐆𝐈Ờ ⤴️\n\n- H̲ọ̲ ̲t̲ê̲n̲:  {{ $json.body['Họ tên'] }}\n- BKS: {{ $json.body['Biển kiểm soát'] }}\n- L̲o̲ạ̲i̲ ̲h̲ì̲n̲h̲: {{ $json.body['Loại hình'] }} - {{ $json.body['Hình thức'] }}\n- T̲h̲ờ̲i̲ ̲g̲i̲a̲n̲ ̲l̲ê̲n̲ ̲c̲a̲: {{ $json.body['Thời gian lên ca'] }}\n- G̲h̲i̲ ̲c̲h̲ú̲: {{ $json.body['Ghi chú'] }}\n(Đây là tin nhắn tự động)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1216,
        128
      ],
      "id": "dcb565dd-3905-4046-9dd7-6c9f4ae4c5c5",
      "name": "Gửi tin nhắn5",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "=9050962767637850423",
        "message": "=⤴️ 𝐓𝐇Ô𝐍𝐆 𝐓𝐈𝐍 𝐓À𝐈 𝐗Ế 𝐋Ê𝐍 𝐂𝐀 𝐆𝐈Ữ𝐀 𝐆𝐈Ờ ⤴️\n\n- H̲ọ̲ ̲t̲ê̲n̲:  {{ $json.body['Họ tên'] }}\n- BKS: {{ $json.body['Biển kiểm soát'] }}\n- L̲o̲ạ̲i̲ ̲h̲ì̲n̲h̲: {{ $json.body['Loại hình'] }} - {{ $json.body['Hình thức'] }}\n- T̲h̲ờ̲i̲ ̲g̲i̲a̲n̲ ̲l̲ê̲n̲ ̲c̲a̲: {{ $json.body['Thời gian lên ca'] }}\n- G̲h̲i̲ ̲c̲h̲ú̲: {{ $json.body['Ghi chú'] }}\n(Đây là tin nhắn tự động)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1408,
        32
      ],
      "id": "acde6dd2-0c7a-48ab-8b46-2dd31e7d7eb3",
      "name": "Checker RG",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        672
      ],
      "id": "f5ebdd2a-08aa-4159-89e8-cc3b77470f06",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12VG-QYfg6wvj1Dlzr7qx9k53O2HgxKxSPHy-8a3TFN0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1638719981,
          "mode": "list",
          "cachedResultName": "Bộ lọc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12VG-QYfg6wvj1Dlzr7qx9k53O2HgxKxSPHy-8a3TFN0/edit#gid=1638719981"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        672
      ],
      "id": "72fe69c5-6e31-4059-a036-ef3f4e0dbd0e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fn0I8yy2yZKk9nZl",
          "name": "n8n credential - zalo"
        }
      }
    },
    {
      "parameters": {
        "threadId": "5444418598197922338",
        "message": "={{ $json.noidung_baocao }}",
        "threadType": 1
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -80,
        672
      ],
      "id": "4d5bd91e-d3ac-4617-9eca-086a8a047a13",
      "name": "Gửi tin nhắn3",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "71QjzdrhZAsOZi6s",
          "name": "Zalo Thanh Bình - 2025-11-12T14:26:47.935Z"
        }
      }
    },
    {
      "parameters": {
        "content": "Gửi báo cáo HÀNG NGÀY biên bản tập đoàn vào group BLĐ-BIÊN BẢN\n",
        "height": 224,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        624
      ],
      "typeVersion": 1,
      "id": "684fd12b-e243-435e-95c0-f9cd2f11a194",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "message": "=Thông tin biên bản số: {{ $json.body['Số biên bản'] }} - {{ $json.body['Ngày_ghi_nhận_sự_việc'] }}\n- Họ tên NV: {{ $json.body['Họ_tên_nhân_viên'] }} - {{ $json.body['Mã_số_nhân_viên'] }} - {{ $json.body['Số_điện_thoại_lái_xe'] }}\n- Chức danh: {{ $json.body['Chức vụ'] }}\n- Số tài: {{ $json.body['Số_tài'] }}\n- Nội dung sự việc: {{ $json.body['Nội dung'] }}\n- Khu vực: {{ $json.body['Khu_vực'] }}\n\n(Đây là tin nhắn tự động)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -208,
        416
      ],
      "id": "6f1a75af-d449-4cf8-bbf0-98e57f528b72",
      "name": "Gửi vào nhóm biên bản",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "={{ $json.response.uid }}",
        "message": "={{ $json.body['Họ_tên_nhân_viên'] }} - {{ $json.body['Mã_số_nhân_viên'] }}\n--------------------------\nKính mời Anh/Chị về văn phòng gặp bộ phận Pháp chế để tường trình một sự việc mới được ghi nhận.\n- Số tài: {{ $json.body['Số_tài'] }}\n- Ngày ghi nhận: {{ $json.body['Ngày_ghi_nhận_sự_việc'] }}\n--------------\n(Đây là tin nhắn tự động)\nMọi thắc mắc liên hệ BP.Pháp chế (giờ hành chính)"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "e6e0aa88-a17b-4f37-8c8b-e07f85e9c5cf",
      "name": "Gửi tin cho TX",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "={{ $json.body.Uid_Zalo_User }}",
        "message": "={{ $json.body['Họ_tên_nhân_viên'] }} - {{ $json.body['Mã_số_nhân_viên'] }}\n--------------------------\nKính mời Anh/Chị về văn phòng gặp bộ phận Pháp chế để tường trình một sự việc mới được ghi nhận.\n- Số tài: {{ $json.body['Số_tài'] }}\n- Ngày ghi nhận: {{ $json.body['Ngày_ghi_nhận_sự_việc'] }}\n--------------\n(Đây là tin nhắn tự động)\nMọi thắc mắc liên hệ BP.Pháp chế (giờ hành chính)\n\n"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -16,
        48
      ],
      "id": "5a779ad9-30bf-4f75-bcfb-f9884b9d3362",
      "name": "Gửi theo uid cho TX",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "rIfEp8QcJEVEw1UA",
          "name": "Zalo Mai Nhựt Trường - 2025-11-13T09:33:14.356Z"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tìm người dùng theo số điện thoại",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tìm người dùng theo số điện thoại": {
      "main": [
        [
          {
            "node": "Gửi tin nhắn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gửi vào nhóm biên bản",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gửi theo uid cho TX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tìm người dùng theo số điện thoại1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tìm người dùng theo số điện thoại1": {
      "main": [
        [
          {
            "node": "Gửi tin cho TX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gửi tin nhắn4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi tin nhắn5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi tin nhắn6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi tin nhắn7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi tin nhắn8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi tin nhắn8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi tin nhắn9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi tin nhắn4": {
      "main": [
        [
          {
            "node": "Checker RG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Gửi tin nhắn3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 1
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.taxinamthang.com",
            "content-length": "698",
            "user-agent": "AppsheetBot/0.0 (https://about.appsheet.com/home/; support@appsheet.com)",
            "accept-encoding": "gzip, deflate",
            "traceparent": "00-ea29e88bb421468149f39b8314d54e7a-74015f73e8ffec01-00",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "Ngày_ghi_nhận_sự_việc": "13/11/2025",
            "Số biên bản": "1226/2025",
            "Mã_số_nhân_viên": "RG0142",
            "Họ_tên_nhân_viên": "MAI NHỰT TRƯỜNG",
            "Chức vụ": "Nhân Viên It",
            "Số_tài": "",
            "Nội dung": "test app",
            "Khu_vực": "Rạch Giá",
            "Số_điện_thoại_lái_xe": "0916510566",
            "Uid_Zalo_User": "#N/A (Did not find value 'RG0142' in VLOOKUP evaluation.)",
            "Hình ảnh": "https://www.appsheet.com/image/getimageurl?appName=Appt%E1%BB%95ngh%E1%BB%A3pbi%C3%AAnb%E1%BA%A3n-l%E1%BA%A7n5-966343163&tableName=Main&fileName=Main_Images%2Ff5453ed8.HINH_ANH_CAMERA.095141.png&appVersion=1.000064&signature=952fcbe8c2103985d2af3a5737d775fdd34d1745c47a6341787d8958c9aa81bd&width=600"
          },
          "webhookUrl": "https://n8n.taxinamthang.com/webhook-test/zalo-user-bien-ban",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "75c1ff86-e729-42cd-b4bf-9498ca35a2e7",
  "triggerCount": 4,
  "shared": [
    {
      "createdAt": "2025-11-07T01:33:38.351Z",
      "updatedAt": "2025-11-07T01:33:38.351Z",
      "role": "workflow:owner",
      "workflowId": "Q6dg7SL1B9oZ9Itk",
      "projectId": "OMvTh6YKRUAvJA2j"
    }
  ],
  "tags": []
}