lấy-bài-viết-page-tập-đoàn-đăng-zalo-oa-.json
{
  "createdAt": "2025-10-27T08:14:40.091Z",
  "updatedAt": "2025-11-03T03:33:37.000Z",
  "id": "eGlGwgJWtX8WdCqd",
  "name": "Lấy bài viết page Tập đoàn đăng Zalo OA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apyhub.com//processor/image/resize/url/file",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "width",
              "value": "=870"
            },
            {
              "name": "height",
              "value": "=488"
            },
            {
              "name": "auto_orientation",
              "value": "false"
            },
            {
              "name": "preserve_format",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apy-token",
              "value": "APY0PCGRDVlpe1V8TqXWgQiL7LH78EKZ1XFxwaW8WC9p6Rt54fPl0br8JQ9BfE6VAW29xtJ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Limit').item.json.posts.data[0].attachments.data[0].media.image.src }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        144
      ],
      "id": "ed948c85-60a7-4217-817e-a92feb32a797",
      "name": "Resize hình Facebook url1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.zalo.me/v2.0/article/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "wh8H3lNBv5pljXiAzitdNEYp7m_sruPPZFWRJTVAcsAtxsP_xlNYRAl5Uss__jrIr8rq1Ss2Y3hCdWjllx_pK-h4SLwMluvktxG9PhVJh6p8eHKwl86DQAA74sxYcUP1dfnlGzYcxqEdsXP4nE2nUD7w6bh4-vfbkO1WIVgDd6U5Z61hqF-ONPNq6WtgqwyCbQuG6z2raX2nqXWoo_A67hFJ6JtjeO49-QS79E6yiNMLn0X7sBkNKCEL6W6Vd9ietUCV8BBpwowfyH9yx-wGBQcSDpBEbRCwXAWlR-sZkr2HtIHYq-sbKxxLB43yyBOGYU08Cyx_YnkpyZ0ooTJF1wx1GXVJxjWZnl5a7gBfn2l1udeifzBWVEYhGKEmhhfAh8X6MDAqn5-VdMDmtxYVMuUQ7sPjB4hCPVBMwLW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"normal\",\n  \"title\": \"{{ $('AI Agent - Tiêu đề').item.json.output }}\",\n  \"author\": \"N8N\",\n  \"cover\": {\n    \"cover_type\": \"photo\",\n    \"photo_url\": \"{{ $json.webContentLink }}\",\n    \"status\": \"show\"\n  },\n  \"description\": {{ $('AI Agent mô tả').item.json.output.toJsonString() }},\n  \"body\": [\n    {\n      \"type\": \"text\",\n      \"content\":{{ $('AI Agent - Tiêu đề').item.json.output.toJsonString() }}\n    },\n    {\n      \"type\": \"text\",\n      \"content\": {{ $('Limit').item.json.posts.data[0].message.toJsonString() }}\n    }\n  ],\n  \"status\": \"show\",\n  \"comment\": \"show\"\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        144
      ],
      "id": "cb6f8fef-ad2b-4d7d-8cee-9e3e872ab11d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "getPagePosts",
        "pageId": "105488927507685"
      },
      "type": "n8n-nodes-social-facebook.facebookPage",
      "typeVersion": 1,
      "position": [
        -480,
        176
      ],
      "id": "8037aa75-2d46-4508-8895-5a4309eb4a22",
      "name": "Get Page Posts",
      "credentials": {
        "facebookApiBotzvn": {
          "id": "T6zJMKiDY0CEWteS",
          "name": "Facebook Rạch Giá"
        }
      }
    },
    {
      "parameters": {
        "resource": "page"
      },
      "type": "n8n-nodes-social-facebook.facebookPage",
      "typeVersion": 1,
      "position": [
        0,
        -144
      ],
      "id": "84836b8d-7aa0-4204-8875-9d0c02e0cc12",
      "name": "Get All Pages User Manage",
      "credentials": {
        "facebookApiBotzvn": {
          "id": "T6zJMKiDY0CEWteS",
          "name": "Facebook Rạch Giá"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -288,
        176
      ],
      "id": "88ead838-81a4-49a1-9e03-217a8c799698",
      "name": "Limit"
    },
    {
      "parameters": {
        "name": "test",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AcmhXfEqW9TzVmbXtBZIiHdMwK5Yz1D5",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        144
      ],
      "id": "687ccfe7-f269-4c6b-bc88-e3d02027164c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kyBduUUKSGEf7fek",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        176
      ],
      "id": "a59fdec9-b294-4433-9987-58e220383421",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        352
      ],
      "id": "e1f10cff-4034-46c5-a56f-09820846ace6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "h8uMGM40rjJEezE6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        368
      ],
      "id": "b082d83d-fc93-4b0e-9a96-c7c22817ecb5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "h8uMGM40rjJEezE6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.posts.data[0].message.toJsonString() }}",
        "options": {
          "systemMessage": "Hãy đóng vai một content creator, tôi có bài viết rất dài , bạn hãy viết 1 đoạn tóm tắt, mô tả nội dung trên dưới 300 kí từ, càng ngắn gọn càng tốt để tôi đặt ở đầu bài viết. Chỉ xuất ra đoạn văn mô tả, không cần nói gì thêm"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        176
      ],
      "id": "e65874a5-4ef3-4383-a647-38573f7be151",
      "name": "AI Agent mô tả"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get Page Posts').item.json.posts.data[0].message }}",
        "options": {
          "systemMessage": "Hãy đóng vai một content creator, tôi có bài viết rất dài , bạn hãy đặt tiêu đề cho bài viết, càng ngắn gọn càng tốt để tôi đặt ở đầu bài viết. Chỉ xuất ra tiêu đề, không cần nói gì thêm"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        176
      ],
      "id": "ed7fcb16-bc99-4c14-b796-451b1dff8ef9",
      "name": "AI Agent - Tiêu đề"
    }
  ],
  "connections": {
    "Resize hình Facebook url1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Get Page Posts": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent mô tả",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Page Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent mô tả",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Tiêu đề",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent mô tả": {
      "main": [
        [
          {
            "node": "AI Agent - Tiêu đề",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Tiêu đề": {
      "main": [
        [
          {
            "node": "Resize hình Facebook url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7cb138a0-386a-4156-be27-dcbabe5c0b58",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-27T08:14:40.095Z",
      "updatedAt": "2025-10-27T08:14:40.095Z",
      "role": "workflow:owner",
      "workflowId": "eGlGwgJWtX8WdCqd",
      "projectId": "OMvTh6YKRUAvJA2j"
    }
  ],
  "tags": []
}